body{
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000003226_1714596295_pics1.png);
    text-align: center;
    margin: 0;
    padding: 0;
}
.page{
    max-width: 1200px;
    margin: 0 auto;
}
.header{
    background-color: #1e1047;
    position: fixed;
    z-index: 1000;
    top: 0;
    color: white;
    width: 100%;
    text-align: center;
    left: 0px;
    font-size: 1.3em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.div1{
    color: white;
    text-align: center;
    font-size: 27px;
    margin-top: 120px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: sticky;
    top: 110px;
}
/* main{
    display: flex;
} */
.imgdiv{
    display: inline-block;
    height: 250px;
    width: 250px;
    margin: 30px 40px 150px;
    border: 8px solid whitesmoke;
    border-radius: 15px;
    position: relative;
}
.img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.starplayers{
    color: #4e4a5e;
    text-align: center;
    background-color: whitesmoke;
    display: block;
    border: 5px solid white;
    border-radius: 15px;
    width: 500px;
    height: 350px;
    margin: 0 auto;
    overflow-y: scroll;
    position: relative;
}
.img2{
    width: 400px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}
.player p{
    margin: 0;
    font-size: 16px;
}
/* .div2{
    display: inline-block;
    height: 200;
    width: 200;
    border: 8px solid whitesmoke;
    border-radius: 15px;
    margin-bottom: 10px;
} */

.starplayers h2{
    text-align: center;
    margin-bottom: 20px;
    background-color: whitesmoke;
}
.players{
    max-height: 250px;
    overflow-y: auto;
}
.player{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
table{
    width: 80%;
    padding: 20px;
    border-collapse: collapse;
    text-align: left;
    margin-left: 10%;
    margin-top: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
thead{
    background-color: #1e1047;
    color: white;
    font-size: 17px;
}
tbody{
    color: #302d33;
    background-color: #f4f1f6;
}
th, td{
    padding: 15px;
}
footer{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #1e1047;
    padding: 8px;
    width: 100%;
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 0px;
    color: white;
}
#p1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}
#p2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
}